body {
    font-family: sans-serif;
}

h1 {
    display: block;
    text-align: center;
    color: blue;
    margin-top: 70px;
    margin-bottom: 70px;
}

.caixa input {
    width: 50%;
    padding: 10px 5px 10px;
    font-weight: bold;
    border: 2px solid blue;
}

.caixa button {
    margin-top: 30px;
    padding: 10px 20px 10px;
    margin-left: 20px;
    border: 2px solid blue;
    background-color: rgb(163, 163, 255);
    color: white;
    font-weight: bold;
}

.caixa button:hover {
    cursor: pointer;
    border: 2px solid blue;
    background-color: rgb(0, 0, 116);
    color: white;
}

#finalizar {
    padding: 10px 20px 10px;
    margin-left: 20px;
    border: 2px solid rgb(0, 87, 22);
    background-color: rgb(166, 255, 163);
    color: white;
    font-weight: bold;
}

#finalizar:hover {
    cursor: pointer;
    border: 2px solid rgb(0, 255, 13);
    background-color: rgb(0, 116, 6);
    color: white;
}

#substitui {
    padding: 10px 20px 10px;
    margin-left: 20px;
    border: 2px solid rgb(87, 74, 0);
    background-color: rgb(255, 145, 0);
    color: white;
    font-weight: bold;
}

#substitui:hover {
    cursor: pointer;
    border: 2px solid rgb(87, 74, 0);
    background-color: rgb(173, 98, 0);
    color: white;
}

.container {
    text-align: center;
    margin: auto;
    width: 60%;
}

.resultado {
    margin: auto;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 15px 5px 5px;
    width: 65%;
    text-align: left;
}

.resultado label {
    width: 70%;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 5px;
}

.todasNotas {
    margin-bottom: 50px;
}

.situacaodoAluno {
    margin-top: 50px;
}

.todasNotas label {
    width: 9.5% !important;
}

.situacaodoAluno label {
    width: 70% !important;
}

#caixa2 {
    display: none;
}

#resultado-caixa {
    display: none;
}

#notas2 {
    display: none;
}

#notas1 label {
display: inline;
}